@model Dilo.Models.WorkItem


<br>
<div>
@{

  var label = "";
  if (Model.Category == "Feature") {
      label = "label label-success";        
  } 
  else if (Model.Category == "Task") {
      label = "label label-warning";
  }
  else if (Model.Category == "Bug") {
      label = "label label-danger";
  }

}


<span class="@label" style="font-size:15px">@Model.Category</span>
<h3>@Model.Tracker @Model.Title</h3>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Change Status
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="/WorkItem/ChangeStatus/@Model.ID/New">New</a></li>
    <li><a href="/WorkItem/ChangeStatus/@Model.ID/Coding">Coding</a></li>
    <li><a href="/WorkItem/ChangeStatus/@Model.ID/Testing">Testing</a></li>
    <li><a href="/WorkItem/ChangeStatus/@Model.ID/Closed">Closed</a></li>
    
  </ul>
  </button>

<div class="btn-group">
 
  <a href="/WorkItem/Edit/@Model.ID" class="btn btn-default">Edit Work Item</a>
  <a href="/WorkItem/Add" class="btn btn-default">Add Work Item</a>

  </div>
  

</div>
  
<hr>
  

  <div>Project Name : <span class="badge">@Model.Project.ProjectName</span></div>

  <div>Created Date : @Model.CreatedDate</div>
  <div>Modified Date : @Model.ModifiedDate</div>
  <div>Priority : @Model.Priority</div>
  <div>Assignee : @Model.Assignee.FullName</div>
  <div>Status : @Model.Status</div>

  <br><br>
  <h4>Description</h4>
  <br>
  <div class="col-xs-8">
    @Model.Description
  </div>

  <br><br><br>
  <br><br>
  <hr>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Delete</button>


<!-- Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete @Model.Tracker ?</p>
      </div>
      <div class="modal-footer">
        <a href="/WorkItem/Delete/@Model.ID" class="btn btn-danger">Yes</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>